# for more ignore items check out
# curl https://raw.githubusercontent.com/github/gitignore/main/Python.gitignore -o .gitignore

# Distribution / packaging
.Python
build/
dist/
var/
wheels/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.venv
venv.bak/

# myStuff
#.dev/
#.vscode/
